body {
  background-color: #F2F6F2;
}

a {
  color: #15918b;
  text-decoration: none;
}

.site-title {
  display: flex;         
  align-items: baseline;  
  gap: 1rem;          
  margin-bottom: 1em;             
}

.site-logo {
  width: 28px;          
  height: auto;
}

.intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.intro-text p {
  text-align: left;
  margin-bottom: 0em;
}

.profile-pic {
  width: 170px;
  height: 212px;
  margin-left: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    order: -1;
    width: 170px;
    margin-left: 0;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  }
}

.section {
    font-size: 1.5em;
    margin-top: 2em;
}


.no-bullets {
  list-style-type: none; 
  padding-left: 0;
  margin-left: 0;
}

.no-bullets li {
  margin-bottom: 1.5em; 
}

.menubar {
  display: flex;
  gap: 2em;
  margin-top: 1em;
  justify-content: right;
}

.menubar > a {
  color: #15918b;
}